[submodule "cheri-control"]
	path = cheri-control
	url = git@github.com:metuatlas/cheri-control.git
	branch = main	
[submodule "rtrobot"]
	path = rtrobot
	url = git@github.com:metuatlas/rtrobot.git
	branch = master

